In [2]:
DATASET = "../artifacts/raw/essay.xlsx"

In [5]:
import re
import pandas

In [4]:
essays = pandas.read_excel(DATASET)
essays.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
len(essays)

12978

In [14]:
first_essay_set = essays[essays["essay_set"] == 1]
first_essay_set.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
len(first_essay_set)

1783

In [11]:
class TextCleaner:
    def __call__(self, text: str) -> str:
        uncesored_text = self._remove_censored(text)
        unpuctuated_text = self._remove_punctuation(uncesored_text)
        return unpuctuated_text.lower()

    def _remove_censored(self, text: str) -> str:
        return re.sub(r"@[A-Z]+[0-9]*", "", text)
    
    def _remove_punctuation(self, text: str) -> str:
        return re.sub(r"[^\w\s]", "", text)

In [12]:
cleaner = TextCleaner()
cleaner(essays.iloc[0]["essay"])

'dear local newspaper i think effects computers have on people are great learning skillsaffects because they give us time to chat with friendsnew people helps us learn about the globeastronomy and keeps us out of troble thing about dont you think so how would you feel if your teenager is always on the phone with friends do you ever time to chat with your friends or buisness partner about things well now  theres a new way to chat the computer theirs plenty of sites on the internet to do so    facebook myspace ect just think now while your setting up meeting with your boss on the computer your teenager is having fun on the phone not rushing to get off cause you want to use it how did you learn about other countrysstates outside of yours well i have by computerinternet its a new way to learn about what going on in our time you might think your child spends a lot of time on the computer but ask them so question about the economy sea floor spreading or even about the s youll be surprise at how much heshe knows believe it or not the computer is much interesting then in class all day reading out of books if your child is home on your computer or at a local library its better than being out with friends being fresh or being perpressured to doing something they know isnt right you might not know where your child is  forbidde in a hospital bed because of a driveby rather than your child on the computer learning chatting or just playing games safe and sound in your home or community place now i hope you have reached a point to understand and agree with me because computers can have great effects on you or child because it gives us time to chat with friendsnew people helps us learn about the globe and believe or not keeps us out of troble thank you for listening'

In [21]:
data = []
for _, row in first_essay_set.iterrows():
    essay = row["essay"]
    score = row["domain1_score"]
    data.append({
        "text": essay,
        "score": score
    })

processed_first_essay_set = pandas.DataFrame(data)
processed_first_essay_set.head(10)

                                                text  score
0  Dear local newspaper, I think effects computer...    8.0
1  Dear @CAPS1 @CAPS2, I believe that using compu...    9.0
2  Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...    7.0
3  Dear Local Newspaper, @CAPS1 I have found that...   10.0
4  Dear @LOCATION1, I know having computers has a...    8.0
5  Dear @LOCATION1, I think that computers have a...    8.0
6  Did you know that more and more people these d...   10.0
7  @PERCENT1 of people agree that computers make ...   10.0
8  Dear reader, @ORGANIZATION1 has had a dramatic...    9.0
9  In the @LOCATION1 we have the technology of a ...    9.0